In [1]:
import time
import pandas as pd 
from BayesianSM import HyperParam

wd = '/Users/ewenwang/Documents/practice_data/conversion_rate/'
file = ['round1_ijcai_18_train_20180301.txt', 'round1_ijcai_18_test_a_20180301.txt']

def timestamp_datetime(timestamp):
    return time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(timestamp))

train, test = pd.read_csv(wd+file[0], sep=' '), pd.read_csv(wd+file[1], sep=' ')
data = pd.concat([train, test])
features = ['instance_id', 'is_trade', 'user_id', 'item_id', 'context_id', 'shop_id', 'context_timestamp']
data = data[features]
data['realtime'] = pd.to_datetime(data['context_timestamp'].apply(timestamp_datetime))
data['day'] = data['realtime'].dt.day

In [3]:
days_ahead = 1
id_list = ['user_id', 'item_id', 'shop_id', 'context_id']
date_list = range(18, 26-days_ahead)

In [4]:
feature = 'user_id'

In [10]:
feature_clk_df = pd.DataFrame(data.groupby([feature], as_index=False).size().reset_index())
feature_clk_df.rename(columns={0:feature+'_count'}, inplace=True)

feature_cv_df = pd.DataFrame(data[(data.is_trade==1)].groupby([feature], as_index=False).size().reset_index())
feature_cv_df.rename(columns={0:feature+'_trade_count'}, inplace=True)

feature_cvr_df = feature_clk_df.merge(feature_cv_df, on=feature, how='left').fillna(0)

In [11]:
feature_cvr_df.sort_values(by='user_id_trade_count', ascending=False).head()

                    user_id  user_id_count  user_id_trade_count
99983   4442276207895225470             17                  4.0
164495  7302738499556980530             20                  3.0
88046   3919489572177177656              6                  3.0
145954  6482906738945512222              4                  3.0
44527   1965358337508268958              4                  3.0

In [3]:
def BayesainSM(I, C):
    hyper = HyperParam(1, 1)
    hyper.update_from_data_by_moment(I, C)
    return (hyper.alpha, hyper.beta)

In [25]:
alpha, beta = bayesainSM(feature_cvr_df[feature+'_count'], feature_cvr_df[feature+'_trade_count'])
print(alpha, beta)

0.008030128754018586 0.3525182292255968

In [15]:
date = 24
data_temp = data[data.day < date]

In [21]:
feature_clk_temp = pd.DataFrame(data_temp.groupby([feature], as_index=False).size().reset_index())
feature_clk_temp.rename(columns={0:feature+'_count'}, inplace=True)

feature_cv_temp = pd.DataFrame(data_temp[(data_temp.is_trade==1)].groupby([feature], as_index=False).size().reset_index())
feature_cv_temp.rename(columns={0:feature+'_trade_count'}, inplace=True)

feature_cvr_temp = feature_clk_temp.merge(feature_cv_temp, on=feature, how='left').fillna(0)

feature_cvr_temp[feature+'_cvr'] = (feature_cvr_temp[feature+'_trade_count'] + alpha) / (feature_cvr_temp[feature+'_count'] + alpha + beta)

In [24]:
feature_cvr_temp.sort_values(by=feature+'_cvr', ascending=False).head()

                    user_id  user_id_count  user_id_trade_count  user_id_cvr
62897   3295390691569945567              2                  2.0     0.850663
119642  6246862659914608948              2                  2.0     0.850663
73816   3867613225626564451              2                  2.0     0.850663
24877   1285647314436345292              2                  2.0     0.850663
93893   4914936825121369220              2                  2.0     0.850663

In [ ]:
id_list = ['user_id', 'item_id', 'shop_id', 'context_id']
date_list = range(18, 26-days_ahead)
new_data = pd.DataFrame()

for date in date_list:
    date_df = data[(data.day==date+days_ahead)]
    for feature in id_list:
        df_add = CVR(data=data[(data.day >= date) & (data.day < date+days_ahead)], feature=feature)
        date_df = date_df.merge(df_add, on=feature, how='left')   
    if date==18:
        new_data = date_df
    else:
        new_data = pd.concat([new_data, date_df])

In [2]:
def PreCVR(data, feature):
    feature_clk_df = pd.DataFrame(data.groupby([feature], as_index=False).size().reset_index()).fillna(0)
    feature_clk_df.rename(columns={0:feature+'_count'}, inplace=True)

    feature_cv_df = pd.DataFrame(data[(data.is_trade==1)].groupby([feature], as_index=False).size().reset_index()).fillna(0)
    feature_cv_df.rename(columns={0:feature+'_trade_count'}, inplace=True)

    feature_cvr_df = feature_clk_df.merge(feature_cv_df, on=feature, how='left').fillna(0)
    return feature_cvr_df

In [63]:
feature = 'user_id'

for date in range(18, 26):
    date_df = data[(data.day==date)]
    cvr_tem = PreCVR(data[data.day < date], feature)
    cvr_tem[feature+'_cvr'] = (cvr_tem[feature+'_trade_count'] + alpha) / (cvr_tem[feature+'_count'] + alpha + beta)
    date_df = date_df.merge(cvr_tem, on=feature, how='left') 
    if date==18:
        new_data = date_df
    else:
        new_data = pd.concat([date_df, new_data])

,instance_id,is_trade,user_id,item_id,context_id,shop_id,context_timestamp,realtime,day
0,108641074714126964,0.0,4505772604969228686,3412720377098676069,282924576738839389,6765930309048922341,1537236544,2018-09-18 10:09:04,18
1,5754713551599725161,0.0,2692638157208937547,3412720377098676069,4007979028023783431,6765930309048922341,1537243232,2018-09-18 12:00:32,18
2,842679481291040981,0.0,5247924392014515924,3412720377098676069,4884875192608989870,6765930309048922341,1537211052,2018-09-18 03:04:12,18
3,937088850059189027,0.0,2681414445369714628,3412720377098676069,840119421106178602,6765930309048922341,1537222670,2018-09-18 06:17:50,18
4,7975697065017708072,0.0,2729475788342039013,3412720377098676069,1736769971710354684,6765930309048922341,1537271320,2018-09-18 19:48:40,18

In [ ]:
new_data[new_data.day==25].head()

In [4]:
id_list = ['user_id', 'item_id', 'shop_id', 'context_id']

data_train = data[data.is_trade.notnull()]
                  
for feature in id_list:
    cvr_df = pd.DataFrame()
    cvr_df = PreCVR(data_train, feature)
    alpha, beta = BayesainSM(cvr_df[feature+'_count'], cvr_df[feature+'_trade_count'])
    
    new_data = pd.DataFrame()
    
    for date in range(18, 26):
        date_df = data[(data.day==date)]
        cvr_tem = PreCVR(data[data.day < date], feature)
        cvr_tem[feature+'_cvr'] = (cvr_tem[feature+'_trade_count'] + alpha) / (cvr_tem[feature+'_count'] + alpha + beta)
        date_df = date_df.merge(cvr_tem, on=feature, how='left') 
        if date==18:
            new_data = date_df
        else:
            new_data = pd.concat([date_df, new_data])
    
    data = data.merge(new_data[[feature+'_cvr', 'instance_id']], on='instance_id', how='left')

In [8]:
data = data.fillna(0)
data['sum_cvr'] = data['user_id_cvr'] + data['item_id_cvr'] + data['shop_id_cvr'] + data['context_id_cvr']

In [ ]:
data.sort_values(by=['sum_cvr'], ascending=False)

In [8]:
drop_list = ['is_trade', 'user_id', 'item_id', 'context_id', 'shop_id', 'context_timestamp', 'realtime', 'day']
feature_cvr = [x for x in data.columns if x not in drop_list]

print('saving...')
cvr_data = data[feature_cvr]
cvr_data.to_csv(wd+'cvr_bayesianSM.txt', index=False, sep=' ')

saving...

In [10]:
cvr_data.sort_values(by='user_id_cvr', ascending=False).head()

,instance_id,user_id_cvr,item_id_cvr,shop_id_cvr,context_id_cvr
89822686,5226517146477941488,0.741807,0.018112,0.018779,NaN
89865091,3872006301696848808,0.741807,0.001802,0.016515,NaN
89522730,8562198339727467467,0.741807,NaN,0.034989,NaN
88914599,327707211534629657,0.741807,0.100050,0.096802,NaN
44115391,4885675478804658259,0.741807,0.006854,0.010228,NaN

In [11]:
import pandas_profiling as pp

In [ ]:
pp.ProfileReport(cvr_data)