In [1]:
import warnings
warnings.filterwarnings('ignore')

import gossipcat as gcat
import pandas as pd
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [2]:
wd = '/Users/ewenwang/Documents/practice_data/conversion_rate/'
file = 'round1_ijcai_18_train_20180301.txt'

data = pd.read_csv(wd+file, sep=' ')
data.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,context_page_id,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4006,5799347067982556520:-1;509660095530134768:-1;5...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:5131280576272319091;725801...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4016,509660095530134768:-1;5799347067982556520:-1;7...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0

In [3]:
def timestamp_datetime(timestamp):
    return time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(timestamp))

In [4]:
import time

data['realtime'] = pd.to_datetime(data['context_timestamp'].apply(timestamp_datetime))
data['day'] = data['realtime'].dt.day

In [5]:
data.columns

Index(['instance_id', 'item_id', 'item_category_list', 'item_property_list',
       'item_brand_id', 'item_city_id', 'item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level', 'user_id', 'user_gender_id',
       'user_age_level', 'user_occupation_id', 'user_star_level', 'context_id',
       'context_timestamp', 'context_page_id', 'predict_category_property',
       'shop_id', 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description', 'is_trade', 'realtime', 'day'],
      dtype='object')

In [6]:
target = 'is_trade'
features = ['item_price_level', 'item_sales_level', 'item_collected_level', 'item_pv_level', 'user_gender_id',
            'user_age_level', 'user_occupation_id', 'user_star_level', 'shop_review_num_level', 
            'shop_review_positive_rate', 'shop_star_level', 'shop_score_service', 'shop_score_delivery']

In [7]:
data.day.unique()

array([18, 21, 19, 20, 22, 23, 24])

In [8]:
train = data[data.day<24]
valid = data[data.day==24]

In [9]:
print(train.shape, valid.shape)

(420717, 29) (57421, 29)

In [10]:
## test Glimpse
glimpse = gcat.Glimpse(data, target, features)

In [13]:
from IPython.core import display
from IPython.core.display import HTML

In [21]:
data.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade,realtime,day
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0,2018-09-18 10:09:04,18
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0,2018-09-18 12:00:32,18
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0,2018-09-18 03:04:12,18
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0,2018-09-18 06:17:50,18
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0,2018-09-18 19:48:40,18

In [11]:
glimpse.Summary()

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478138 entries, 0 to 478137
Data columns (total 29 columns):
instance_id                  478138 non-null int64
item_id                      478138 non-null int64
item_category_list           478138 non-null object
item_property_list           478138 non-null object
item_brand_id                478138 non-null int64
item_city_id                 478138 non-null int64
item_price_level             478138 non-null int64
item_sales_level             478138 non-null int64
item_collected_level         478138 non-null int64
item_pv_level                478138 non-null int64
user_id                      478138 non-null int64
user_gender_id               478138 non-null int64
user_age_level               478138 non-null int64
user_occupation_id           478138 non-null int64
user_star_level              478138 non-null int64
context_id                   478138 non-null int64
context_timestamp            478138 non-null int64
context_page_id              478138 non-null int64
predict_category_property    478138 non-null object
shop_id                      478138 non-null int64
shop_review_num_level        478138 non-null int64
shop_review_positive_rate    478138 non-null float64
shop_star_level              478138 non-null int64
shop_score_service           478138 non-null float64
shop_score_delivery          478138 non-null float64
shop_score_description       478138 non-null float64
is_trade                     478138 non-null int64
realtime                     478138 non-null datetime64[ns]
day                          478138 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(21), object(3)
memory usage: 105.8+ MB
None

Head:

TypeError: 'module' object is not callable

In [ ]:
glimpse.BiDensity()

In [ ]:
glimpse.BiBoxplot()