# ICBC Project Warm-Up: Feature Engineering

In [1]:
import os
import numpy as  np
import pandas as pd

In [31]:
wd = '/Users/ewenwang/OneDrive/IBM/Project_ICBC/code_wu'
os.chdir(wd)
datafile = 'lc_2016Q3_clean.csv'
data = pd.read_csv(datafile, header=0, encoding='latin-1')
data.info()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (12,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95210 entries, 0 to 95209
Data columns (total 90 columns):
loan_amnt                         95210 non-null int64
term                              95210 non-null object
int_rate                          95210 non-null float64
installment                       95210 non-null float64
emp_title                         89516 non-null object
emp_length                        95210 non-null int64
home_ownership                    95210 non-null object
annual_inc                        95210 non-null float64
verification_status               95210 non-null object
issue_d                           95210 non-null object
loan_status                       95210 non-null int64
pymnt_plan                        95210 non-null object
desc                              6 non-null object
purpose                           95210 non-null object
title                             90065 non-null object
zip_code                          95210 non-null object
addr_state                        95210 non-null object
dti                               95210 non-null float64
delinq_2yrs                       95210 non-null int64
earliest_cr_line                  95210 non-null object
inq_last_6mths                    95210 non-null int64
mths_since_last_delinq            51229 non-null float64
mths_since_last_record            18903 non-null float64
open_acc                          95210 non-null int64
pub_rec                           95210 non-null int64
revol_bal                         95210 non-null int64
revol_util                        95151 non-null float64
total_acc                         95210 non-null int64
initial_list_status               95210 non-null object
collections_12_mths_ex_med        95210 non-null int64
mths_since_last_major_derog       28125 non-null float64
application_type                  95210 non-null object
annual_inc_joint                  501 non-null float64
dti_joint                         501 non-null float64
verification_status_joint         501 non-null object
acc_now_delinq                    95210 non-null int64
tot_coll_amt                      95210 non-null int64
tot_cur_bal                       95210 non-null int64
open_acc_6m                       95210 non-null int64
open_il_6m                        95210 non-null int64
open_il_12m                       95210 non-null int64
open_il_24m                       95210 non-null int64
mths_since_rcnt_il                92660 non-null float64
total_bal_il                      95210 non-null int64
il_util                           82017 non-null float64
open_rv_12m                       95210 non-null int64
open_rv_24m                       95210 non-null int64
max_bal_bc                        95210 non-null int64
all_util                          95204 non-null float64
total_rev_hi_lim                  95210 non-null int64
inq_fi                            95210 non-null int64
total_cu_tl                       95210 non-null int64
inq_last_12m                      95210 non-null int64
acc_open_past_24mths              95210 non-null int64
avg_cur_bal                       95210 non-null int64
bc_open_to_buy                    94160 non-null float64
bc_util                           94126 non-null float64
chargeoff_within_12_mths          95210 non-null int64
delinq_amnt                       95210 non-null int64
mo_sin_old_il_acct                92660 non-null float64
mo_sin_old_rev_tl_op              95210 non-null int64
mo_sin_rcnt_rev_tl_op             95210 non-null int64
mo_sin_rcnt_tl                    95210 non-null int64
mort_acc                          95210 non-null int64
mths_since_recent_bc              94212 non-null float64
mths_since_recent_bc_dlq          24968 non-null float64
mths_since_recent_inq             85581 non-null float64
mths_since_recent_revol_delinq    35158 non-null float64
num_accts_ever_120_pd             95210 non-null int64
num_actv_bc_tl                    95210 non-null int64
num_actv_rev_tl                   95210 non-null int64
num_bc_sats                       95210 non-null int64
num_bc_tl                         95210 non-null int64
num_il_tl                         95210 non-null int64
num_op_rev_tl                     95210 non-null int64
num_rev_accts                     95210 non-null int64
num_rev_tl_bal_gt_0               95210 non-null int64
num_sats                          95210 non-null int64
num_tl_120dpd_2m                  91951 non-null float64
num_tl_30dpd                      95210 non-null int64
num_tl_90g_dpd_24m                95210 non-null int64
num_tl_op_past_12m                95210 non-null int64
pct_tl_nvr_dlq                    95210 non-null float64
percent_bc_gt_75                  94156 non-null float64
pub_rec_bankruptcies              95210 non-null int64
tax_liens                         95210 non-null int64
tot_hi_cred_lim                   95210 non-null int64
total_bal_ex_mort                 95210 non-null int64
total_bc_limit                    95210 non-null int64
total_il_high_credit_limit        95210 non-null int64
dtypes: float64(23), int64(52), object(15)
memory usage: 65.4+ MB

In [32]:
data.head(4)

,loan_amnt,term,int_rate,installment,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,15000,36 months,13.99,512.60,Fiscal Director,2,RENT,55000.0,Not Verified,01/09/2016,...,0,5,100.0,33.3,0,0,147587,140492,30200,108587
1,2600,36 months,8.99,82.67,Loaner Coordinator,3,RENT,35000.0,Source Verified,01/09/2016,...,0,0,100.0,0.0,0,0,73227,19497,50200,20527
2,32200,60 months,21.49,880.02,warehouse/supervisor,10,MORTGAGE,65000.0,Not Verified,01/09/2016,...,0,2,100.0,40.0,1,0,199969,24934,13900,15886
3,10000,36 months,11.49,329.72,Teacher,10,OWN,55900.0,Not Verified,01/09/2016,...,0,6,100.0,66.7,0,0,68831,38085,13500,36431

In [33]:
target = data['loan_status']

In [34]:
data = data.drop(['loan_status'], 1)

In [41]:
data.select_dtypes(include=['object']).iloc[:,0:20].head(4)

,home_ownership,verification_status,issue_d,desc,purpose,title,addr_state,earliest_cr_line,application_type
0,RENT,Not Verified,01/09/2016,NaN,debt_consolidation,Debt consolidation,TN,01/01/1996,INDIVIDUAL
1,RENT,Source Verified,01/09/2016,NaN,moving,Moving and relocation,OR,01/09/2009,INDIVIDUAL
2,MORTGAGE,Not Verified,01/09/2016,NaN,credit_card,Credit card refinancing,CA,01/11/1992,INDIVIDUAL
3,OWN,Not Verified,01/09/2016,NaN,debt_consolidation,Debt consolidation,TX,01/07/1987,INDIVIDUAL

In [36]:
data.select_dtypes(include=['object']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95210 entries, 0 to 95209
Data columns (total 15 columns):
term                         95210 non-null object
emp_title                    89516 non-null object
home_ownership               95210 non-null object
verification_status          95210 non-null object
issue_d                      95210 non-null object
pymnt_plan                   95210 non-null object
desc                         6 non-null object
purpose                      95210 non-null object
title                        90065 non-null object
zip_code                     95210 non-null object
addr_state                   95210 non-null object
earliest_cr_line             95210 non-null object
initial_list_status          95210 non-null object
application_type             95210 non-null object
verification_status_joint    501 non-null object
dtypes: object(15)
memory usage: 10.9+ MB

In [37]:
## strings
# titles
senior = ['Manager', 'Director', 'Senior', 'manager', 'Supervisor', 'Lead', 'Sr.', 'Officer', 'Sr',
          'supervisor', 'Administrator', 'Management', 'Executive', 'VP', 'Vice', 'President', 'Chief',
          'director', 'Admin', 'Administrative', 'Director,' 'MANAGER', 'lead', 'officer', 'Leader',
          'Manager,', 'Mgr', 'Head', 'associate', 'Associate', 'leader', 'Partner', 'Manger',
          'SR']
middle = ['Coordinator', 'Operations', 'Consultant', 'operator', 'Operator', 'consultant',
          'Representative', 'coordinator', 'Advisor',  'Counselor', 'Instructor', 'District', 'Architect',
          'Planner', 'Technologist', 'Master', 'Therapist', 'therapist', 'Professor', 'Investigator',
          'Coach']
junior = ['Specialist', 'Analyst', 'Assistant', 'Sales', 'Engineer', 'Technician', 'Support', 'specialist',
          'Account', 'service', 'technician', 'Clerk', 'Nurse', 'assistant', 'Maintenance', 'driver', 'Driver',
          'clerk', 'Client', 'Staff', 'Worker', 'HR', 'Teacher', 'Designer', 'nurse', 'worker', 'Accountant',
          'Inspector', 'agent', 'teacher', 'Member', 'Trainer', 'Secretary', 'Auditor', 'Sergeant', 'Processor',
          'customer', 'SPECIALIST', 'Banker', 'Student', 'ASSISTANT']

def replace_titles(title):
    """ Replacing all titles with 3, 2, 1, 0."""
    x = str(title['emp_title'])
    x = x.split()
    if any(i in senior for i in x):
        return 3
    elif any(i in middle for i in x):
        return 2
    elif any(i in junior for i in x):
        return 1
    else:
        return 0

def makeString(dataframe):
    """ Convert strings to numbers."""
    dataframe['term'] = dataframe['term'].map(
        {' 36 months': 0, ' 60 months': 1})
    dataframe['zip_code'] = dataframe['zip_code'].str.strip('xx').astype(int)
    dataframe['emp_title'] = pd.DataFrame(
        dataframe['emp_title']).apply(replace_titles, axis=1)
    dataframe['pymnt_plan'] = dataframe['pymnt_plan'].map({'n': 0, 'y': 1})
    dataframe['initial_list_status'] = dataframe[
        'initial_list_status'].map({'f': 0, 'w': 1})
    dataframe['verification_status_joint'] = dataframe[
        'verification_status_joint'].map({'nan': 0, 'Not Verified': 1})
    return None


## categories
cates = ['home_ownership', 'verification_status',
         'purpose', 'addr_state', 'title', 'application_type']

def makeDummy(dataframe):
    """ Convert categories to dummies. """
    features = pd.DataFrame()
    for cate in cates:
        features = pd.get_dummies(dataframe[cate])
        dataframe = dataframe.join(features)
        dataframe = dataframe.drop([cate], 1)
    dataframe[DateTime] = dataframe[DateTime].apply(date2delta, axis=0)
    return None

# datetime
DateTime = ['issue_d']

def date2delta(time):
    date = pd.to_datetime(time)
    delta = date - date.min()
    return delta.dt.days

In [39]:
makeString(data)
makeDummy(data)

In [44]:
    data['term'] = data['term'].map(
        {' 36 months': 0, ' 60 months': 1})
    data['emp_title'] = pd.DataFrame(
        data['emp_title']).apply(replace_titles, axis=1)
    data['pymnt_plan'] = data['pymnt_plan'].map({'n': 0, 'y': 1})
    data['initial_list_status'] = data[
        'initial_list_status'].map({'f': 0, 'w': 1})
    data['verification_status_joint'] = data[
        'verification_status_joint'].map({'nan': 0, 'Not Verified': 1})

In [48]:
#data['zip_code'] = data['zip_code'].strip('xx').astype(int)
makeDummy(data)

In [49]:
data.select_dtypes(include=['object']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95210 entries, 0 to 95209
Data columns (total 9 columns):
home_ownership         95210 non-null object
verification_status    95210 non-null object
issue_d                95210 non-null object
desc                   6 non-null object
purpose                95210 non-null object
title                  90065 non-null object
addr_state             95210 non-null object
earliest_cr_line       95210 non-null object
application_type       95210 non-null object
dtypes: object(9)
memory usage: 6.5+ MB

### Strings

In [9]:
data.term.unique()
#data.iloc[:,3].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [17]:
data['term'] = data['term'].map({' 36 months': 0, ' 60 months': 1})

In [11]:
#data['int_rate'] = data['int_rate'].str.strip('%').astype(float)

In [12]:
#data['revol_util'] = data['revol_util'].str.strip('%').astype(float)

In [13]:
data['emp_length'].unique()

array(['2 years', '3 years', '10+ years', '5 years', nan, '4 years',
       '7 years', '8 years', '9 years', '1 year', '6 years', '< 1 year'], dtype=object)

In [14]:
empl = data['emp_length']

In [15]:
empl.unique()

array(['2 years', '3 years', '10+ years', '5 years', nan, '4 years',
       '7 years', '8 years', '9 years', '1 year', '6 years', '< 1 year'], dtype=object)

In [16]:
empl = empl.str.extract('(\d+)').astype(float)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [17]:
data['emp_length'] = data['emp_length'].str.extract('(\d+)').astype(float)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [18]:
#data['zip_code'].unique()

In [19]:
data['zip_code'] = data['zip_code'].str.strip('xx').astype(int)

In [20]:
v = data['emp_title'].value_counts()

v.head()

Teacher             1851
Manager             1626
Owner                957
Supervisor           756
Registered Nurse     727
Name: emp_title, dtype: int64

In [80]:
v.nlargest(60).tail()

Administrator         121
Teacher               121
Professor             120
Account Executive     120
Executive Director    116
Name: emp_title, dtype: int64

In [87]:
titles = v.index.astype(list)

In [91]:
splite_titles = [words for segments in titles for words in segments.split()]

In [99]:
len(splite_titles)

90858

In [98]:
title_dict = dict((i, splite_titles.count(i)) for i in splite_titles)

In [105]:
import operator

sorted_title = sorted(title_dict.items(), key=operator.itemgetter(1), reverse=True)

In [106]:
sorted_title

[('Manager', 2787),
 ('Director', 1459),
 ('Specialist', 1345),
 ('Senior', 1276),
 ('of', 1214),
 ('manager', 965),
 ('Analyst', 927),
 ('Assistant', 900),
 ('Sales', 785),
 ('Coordinator', 778),
 ('Supervisor', 710),
 ('Engineer', 669),
 ('Lead', 662),
 ('Technician', 616),
 ('Service', 608),
 ('and', 608),
 ('Sr.', 574),
 ('Operations', 543),
 ('Associate', 515),
 ('Officer', 494),
 ('Tech', 484),
 ('Services', 469),
 ('Support', 464),
 ('Business', 461),
 ('&', 404),
 ('Sr', 403),
 ('tech', 398),
 ('II', 391),
 ('Consultant', 389),
 ('specialist', 373),
 ('IT', 364),
 ('supervisor', 328),
 ('operator', 319),
 ('Project', 306),
 ('Customer', 304),
 ('Administrator', 297),
 ('Operator', 294),
 ('Management', 287),
 ('Account', 284),
 ('Executive', 282),
 ('service', 278),
 ('technician', 275),
 ('Program', 269),
 ('Clerk', 266),
 ('Systems', 262),
 ('Nurse', 259),
 ('Development', 248),
 ('Office', 247),
 ('VP', 247),
 ('Technical', 244),
 ('Clinical', 243),
 ('Vice', 241),
 ('Medical', 241),
 ('assistant', 241),
 ('/', 238),
 ('sales', 237),
 ('Representative', 231),
 ('Marketing', 230),
 ('-', 230),
 ('Financial', 228),
 ('President', 226),
 ('coordinator', 221),
 ('Field', 217),
 ('Quality', 216),
 ('Security', 213),
 ('Team', 211),
 ('Regional', 205),
 ('Chief', 204),
 ('Production', 200),
 ('III', 197),
 ('Maintenance', 195),
 ('Health', 194),
 ('director', 190),
 ('driver', 189),
 ('Driver', 187),
 ('Admin', 186),
 ('Care', 180),
 ('General', 179),
 ('Administrative', 178),
 ('Director,', 173),
 ('clerk', 170),
 ('Client', 170),
 ('engineer', 168),
 ('2', 168),
 ('Agent', 167),
 ('Data', 167),
 ('Rep', 162),
 ('Staff', 160),
 ('analyst', 158),
 ('MANAGER', 157),
 ('lead', 152),
 ('officer', 149),
 ('Worker', 149),
 ('Product', 147),
 ('Leader', 146),
 ('Loan', 146),
 ('HR', 143),
 ('Engineering', 143),
 ('Teacher', 142),
 ('Control', 142),
 ('Manager,', 141),
 ('Compliance', 140),
 ('Research', 139),
 ('Human', 137),
 ('Mgr', 136),
 ('Head', 134),
 ('Advisor', 133),
 ('Designer', 133),
 ('Claims', 133),
 ('System', 131),
 ('RN', 130),
 ('Software', 130),
 ('Network', 129),
 ('Finance', 128),
 ('Information', 125),
 ('Patient', 124),
 ('support', 123),
 ('Accounting', 120),
 ('Safety', 120),
 ('associate', 119),
 ('Professional', 119),
 ('Counselor', 118),
 ('Technology', 116),
 ('Asst', 112),
 ('Commercial', 112),
 ('nurse', 111),
 ('Deputy', 109),
 ('worker', 109),
 ('Registered', 108),
 ('Developer', 108),
 ('Center', 108),
 ('3', 108),
 ('Principal', 107),
 ('mechanic', 107),
 ('Training', 107),
 ('rep', 105),
 ('Process', 105),
 ('Certified', 105),
 ('Global', 105),
 ('Mechanic', 104),
 ('Special', 101),
 ('Insurance', 100),
 ('Tax', 100),
 ('1', 100),
 ('Warehouse', 98),
 ('consultant', 97),
 ('Social', 96),
 ('Supply', 96),
 ('Accountant', 95),
 ('Corporate', 95),
 ('Accounts', 94),
 ('operations', 94),
 ('senior', 94),
 ('Police', 93),
 ('Inspector', 93),
 ('Retail', 93),
 ('care', 93),
 ('services', 91),
 ('School', 90),
 ('Case', 89),
 ('Relations', 89),
 ('Community', 87),
 ('Department', 86),
 ('Application', 86),
 ('Asst.', 86),
 ('Instructor', 85),
 ('Lab', 84),
 ('I', 84),
 ('District', 83),
 ('Administration', 83),
 ('Architect', 83),
 ('Credit', 83),
 ('Risk', 83),
 ('Planner', 82),
 ('Mortgage', 82),
 ('agent', 82),
 ('Nursing', 81),
 ('Branch', 80),
 ('Pharmacy', 80),
 ('Logistics', 80),
 ('Billing', 80),
 ('Resources', 78),
 ('Design', 78),
 ('Home', 77),
 ('Owner', 76),
 ('Foreman', 76),
 ('Computer', 76),
 ('Education', 75),
 ('Digital', 75),
 ('Technologist', 74),
 ('Communications', 74),
 ('maintenance', 73),
 ('leader', 73),
 ('Legal', 72),
 ('Payroll', 72),
 ('Coach', 72),
 ('Food', 72),
 ('Licensed', 71),
 ('teacher', 70),
 ('Front', 70),
 ('Public', 70),
 ('Superintendent', 68),
 ('Property', 68),
 ('Member', 68),
 ('representative', 68),
 ('Inventory', 67),
 ('QA', 67),
 ('Master', 67),
 ('Therapist', 66),
 ('Area', 66),
 ('Construction', 66),
 ('Facilities', 66),
 ('Trainer', 65),
 ('National', 65),
 ('Fire', 65),
 ('Group', 65),
 ('Programmer', 64),
 ('Plant', 64),
 ('Contract', 64),
 ('Transportation', 64),
 ('Solutions', 64),
 ('Attorney', 63),
 ('Truck', 63),
 ('Secretary', 63),
 ('Auditor', 63),
 ('Personal', 63),
 ('Electrical', 63),
 ('Aide', 63),
 ('Material', 61),
 ('Equipment', 61),
 ('Ops', 61),
 ('Desk', 60),
 ('Sergeant', 59),
 ('office', 59),
 ('Processor', 59),
 ('Line', 59),
 ('Planning', 58),
 ('Store', 57),
 ('Underwriter', 57),
 ('Division', 57),
 ('mgr', 57),
 ('IV', 57),
 ('customer', 56),
 ('Market', 56),
 ('Unit', 56),
 ('technologist', 56),
 ('SPECIALIST', 56),
 ('Banker', 55),
 ('Parts', 55),
 ('therapist', 55),
 ('health', 55),
 ('Strategic', 55),
 ('Partner', 54),
 ('Dental', 54),
 ('management', 54),
 ('Resource', 54),
 ('Examiner', 54),
 ('Processing', 54),
 ('Manger', 54),
 ('control', 54),
 ('Controller', 53),
 ('Shift', 53),
 ('Scientist', 52),
 ('Operation', 52),
 ('Test', 52),
 ('Auto', 52),
 ('Family', 52),
 ('Delivery', 51),
 ('foreman', 51),
 ('Web', 51),
 ('medical', 51),
 ('Manufacturing', 51),
 ('account', 51),
 ('Aid', 51),
 ('administrator', 51),
 ('Physician', 50),
 ('Purchasing', 50),
 ('Revenue', 50),
 ('Records', 50),
 ('Machine', 49),
 ('Assurance', 49),
 ('Surgical', 49),
 ('Environmental', 48),
 ('Real', 48),
 ('SR', 48),
 ('production', 47),
 ('team', 47),
 ('Laboratory', 47),
 ('Student', 47),
 ('Shipping', 46),
 ('Database', 46),
 ('Benefits', 46),
 ('Court', 46),
 ('SALES', 45),
 ('Provider', 45),
 ('inspector', 45),
 ('Chef', 44),
 ('Asset', 44),
 ('ASSISTANT', 44),
 ('Talent', 44),
 ('Professor', 43),
 ('Investigator', 43),
 ('Site', 43),
 ('business', 43),
 ('SENIOR', 43),
 ('TECH', 43),
 ('owner', 42),
 ('Correctional', 42),
 ('Managing', 42),
 ('Attendant', 42),
 ('Bus', 42),
 ('Chain', 42),
 ('Counsel', 42),
 ('Route', 42),
 ('Estate', 42),
 ('Media', 42),
 ('VP,', 42),
 ('Physical', 41),
 ('SUPERVISOR', 41),
 ('AVP', 41),
 ('Academic', 41),
 ('Building', 41),
 ('Direct', 41),
 ('Distribution', 41),
 ('Enterprise', 41),
 ('International', 41),
 ('Relationship', 40),
 ('aide', 40),
 ('Investment', 40),
 ('staff', 40),
 ('to', 40),
 ('Emergency', 40),
 ('project', 39),
 ('Practice', 39),
 ('SVP', 39),
 ('Charge', 39),
 ('City', 39),
 ('Facility', 39),
 ('Audit', 39),
 ('Procurement', 39),
 ('Protection', 39),
 ('Experience', 39),
 ('Applications', 39),
 ('Order', 39),
 ('Child', 39),
 ('Supervisory', 39),
 ('Room', 39),
 ('Producer', 38),
 ('warehouse', 38),
 ('security', 38),
 ('Journeyman', 38),
 ('OFFICER', 38),
 ('Contracts', 38),
 ('advisor', 38),
 ('Night', 38),
 ('executive', 38),
 ('Dept', 38),
 ('in', 38),
 ('Analysis', 38),
 ('Dispatcher', 37),
 ('Adjuster', 37),
 ('Traffic', 37),
 ('DIRECTOR', 37),
 ('Receiving', 37),
 ('Inside', 36),
 ('Creative', 36),
 ('Mechanical', 36),
 ('Assembly', 36),
 ('Materials', 36),
 ('Mental', 36),
 ('Programs', 36),
 ('Mgr.', 36),
 ('New', 36),
 ('Payable', 35),
 ('Events', 35),
 ('Claim', 35),
 ('Car', 35),
 ('truck', 34),
 ('Buyer', 34),
 ('Mail', 34),
 ('attendant', 34),
 ('Fleet', 34),
 ('Shop', 34),
 ('counselor', 34),
 ('House', 34),
 ('TECHNICIAN', 34),
 ('Utility', 34),
 ('Liaison', 34),
 ('Content', 34),
 ('Flight', 33),
 ('Handler', 33),
 ('Crew', 33),
 ('SERVICE', 33),
 ('Floor', 33),
 ('Admissions', 33),
 ('Guest', 33),
 ('Personnel', 33),
 ('development', 33),
 ('clinical', 33),
 ('Learning', 33),
 ('for', 33),
 ('President,', 33),
 ('Electrician', 32),
 ('handler', 32),
 ('Resident', 32),
 ('Nuclear', 32),
 ('Internal', 32),
 ('designer', 32),
 ('Residential', 32),
 ('safety', 32),
 ('Paralegal', 31),
 ('Server', 31),
 ('Captain', 31),
 ('Carrier', 31),
 ('Occupational', 31),
 ('Portfolio', 31),
 ('banker', 31),
 ('Electronic', 31),
 ('Dean', 31),
 ('State', 31),
 ('A', 31),
 ('man', 31),
 ('Full', 31),
 ('Affairs', 31),
 ('Event', 31),
 ('ANALYST', 31),
 ('Consumer', 31),
 ('Prevention', 31),
 ('Recruiter', 30),
 ('Graphic', 30),
 ('store', 30),
 ('Aircraft', 30),
 ('Broker', 30),
 ('Writer', 30),
 ('admin', 30),
 ('loan', 30),
 ('processor', 30),
 ('Union', 30),
 ('Lending', 30),
 ('Travel', 30),
 ('Assitant', 30),
 ('chief', 30),
 ('Consulting', 30),
 ('Access', 30),
 ('head', 30),
 ('the', 30),
 ('COORDINATOR', 30),
 ('asst', 30),
 ('Scheduler', 29),
 ('Infrastructure', 29),
 ('Industrial', 29),
 ('Employee', 29),
 ('Library', 29),
 ('Section', 29),
 ('Benefit', 29),
 ('Cash', 29),
 ('Respiratory', 28),
 ('DRIVER', 28),
 ('Editor', 28),
 ('Implementation', 28),
 ('Private', 28),
 ('shop', 28),
 ('OPERATOR', 28),
 ('HVAC', 28),
 ('Solution', 28),
 ('shift', 28),
 ('Expert', 28),
 ('Therapy', 28),
 ('field', 28),
 ('line', 28),
 ('Performance', 28),
 ('systems', 28),
 ('professional', 28),
 ('Banking', 28),
 ('SR.', 28),
 ('Teller', 27),
 ('general', 27),
 ('electrician', 27),
 ('Labor', 27),
 ('Budget', 27),
 ('NURSE', 27),
 ('Electronics', 27),
 ('Instructional', 27),
 ('Operating', 27),
 ('installer', 27),
 ('Of', 27),
 ('Desktop', 27),
 ('Radiology', 27),
 ('Merchandise', 27),
 ('plant', 27),
 ('Outreach', 27),
 ('Regulatory', 27),
 ('Tech.', 27),
 ('Loss', 27),
 ('Mobile', 27),
 ('Water', 27),
 ('Enrollment', 27),
 ('Pastor', 26),
 ('carrier', 26),
 ('Dealer', 26),
 ('chef', 26),
 ('Speech', 26),
 ('Air', 26),
 ('marketing', 26),
 ('Underwriting', 26),
 ('Reporting', 26),
 ('Document', 26),
 ('End', 26),
 ('planner', 26),
 ('Supervising', 26),
 ('president', 25),
 ('Probation', 25),
 ('case', 25),
 ('equipment', 25),
 ('Leasing', 25),
 ('Eligibility', 25),
 ('Treasury', 25),
 ('Advocate', 25),
 ('Controls', 25),
 ('manger', 25),
 ('QC', 25),
 ('Telecom', 25),
 ('member', 25),
 ('Youth', 25),
 ('Pricing', 25),
 ('sr', 25),
 ('provider', 25),
 ('Work', 25),
 ('LEAD', 25),
 ('Territory', 24),
 ('cook', 24),
 ('Faculty', 24),
 ('Heavy', 24),
 ('superintendent', 24),
 ('software', 24),
 ('secretary', 24),
 ('dealer', 24),
 ('financial', 24),
 ('lab', 24),
 ('CNC', 24),
 ('Meat', 24),
 ('adjuster', 24),
 ('Law', 24),
 ('Catering', 24),
 ('Integration', 24),
 ('Acquisition', 24),
 ('Projects', 24),
 ('Advanced', 24),
 ('Recovery', 24),
 ('Review', 24),
 ('Level', 24),
 ('Welder', 23),
 ('CSR', 23),
 ('machine', 23),
 ('machinist', 23),
 ('accountant', 23),
 ('Civil', 23),
 ('Coder', 23),
 ('Dispatch', 23),
 ('Federal', 23),
 ('program', 23),
 ('Policy', 23),
 ('trainer', 23),
 ('AP', 23),
 ('Improvement', 23),
 ('Title', 23),
 ('Admin.', 23),
 ('claims', 23),
 ('Casino', 23),
 ('MGR', 23),
 ('4', 23),
 ('Sale', 23),
 ('Corrections', 22),
 ('Forman', 22),
 ('Kitchen', 22),
 ('Banquet', 22),
 ('Military', 22),
 ('Class', 22),
 ('assembly', 22),
 ('nursing', 22),
 ('Collections', 22),
 ('Help', 22),
 ('Trust', 22),
 ('Behavior', 22),
 ('Exec', 22),
 ('instructor', 22),
 ('Repair', 22),
 ('Psychiatric', 22),
 ('Analytics', 22),
 ('time', 22),
 ('Vehicle', 22),
 ('aid', 22),
 ('Strategy', 22),
 ('Fiscal', 22),
 ('2nd', 22),
 ('system', 22),
 ('Assembler', 21),
 ('Estimator', 21),
 ('OFFICE', 21),
 ('Lieutenant', 21),
 ('Chemist', 21),
 ('developer', 21),
 ('department', 21),
 ('Automation', 21),
 ('Assist', 21),
 ('Bank', 21),
 ('Dept.', 21),
 ('Assistance', 21),
 ('Enforcement', 21),
 ('Principle', 21),
 ('home', 21),
 ('Artist', 21),
 ('Body', 21),
 ('desk', 21),
 ('accounts', 21),
 ('Career', 21),
 ('parts', 21),
 ('Collection', 21),
 ('Energy', 21),
 ('Visual', 21),
 ('RN,', 21),
 ('Mgmt', 21),
 ('Retirement', 21),
 ('tech.', 21),
 ('Pilot', 20),
 ('Educator', 20),
 ('welder', 20),
 ('Installer', 20),
 ('Patrol', 20),
 ('dispatcher', 20),
 ('CLERK', 20),
 ('Intelligence', 20),
 ('auditor', 20),
 ('Grocery', 20),
 ('It', 20),
 ('Engagement', 20),
 ('food', 20),
 ('Fraud', 20),
 ('Cyber', 20),
 ('Facilitator', 20),
 ('Intake', 20),
 ('Imaging', 20),
 ('Compensation', 20),
 ('quality', 20),
 ('room', 20),
 ('Healthcare', 20),
 ('Surgery', 20),
 ('assistance', 20),
 ('Trade', 20),
 ('center', 20),
 ('OF', 20),
 ('Government', 20),
 ('Life', 20),
 ('Bookkeeper', 19),
 ('Paramedic', 19),
 ('Librarian', 19),
 ('accounting', 19),
 ('Recruiting', 19),
 ('Outside', 19),
 ('Medicine', 19),
 ('CUSTOMER', 19),
 ('ENGINEER', 19),
 ('Table', 19),
 ('Call', 19),
 ('Sourcing', 19),
 ('shipping', 19),
 ('maker', 19),
 ('Litigation', 19),
 ('Housing', 19),
 ('NCO', 19),
 ('Junior', 19),
 ('Rehab', 19),
 ('User', 19),
 ('design', 19),
 ('Spec', 19),
 ('R&D', 19),
 ('Practitioner', 18),
 ('Correction', 18),
 ('police', 18),
 ('Housekeeping', 18),
 ('Registrar', 18),
 ('Guard', 18),
 ('Contractor', 18),
 ('vice', 18),
 ('First', 18),
 ('Appraiser', 18),
 ('Key', 18),
 ('OPERATIONS', 18),
 ('Cost', 18),
 ('programmer', 18),
 ('Produce', 18),
 ('Fellow', 18),
 ('Employment', 18),
 ('Internet', 18),
 ('Coding', 18),
 ('computer', 18),
 ('floor', 18),
 ('Reimbursement', 18),
 ('patient', 18),
 ('Merchandising', 18),
 ('Nutrition', 18),
 ('Motor', 18),
 ('Monitor', 18),
 ('Packaging', 18),
 ('Video', 18),
 ('engineering', 18),
 ('AR', 18),
 ('Strategist', 18),
 ('technical', 18),
 ('architect', 18),
 ('Post', 18),
 ('Dir', 18),
 ('repair', 18),
 ('Cook', 17),
 ('Custodian', 17),
 ('cashier', 17),
 ('laborer', 17),
 ('Generalist', 17),
 ('Pathologist', 17),
 ('Escrow', 17),
 ('Chemical', 17),
 ('Automotive', 17),
 ('Train', 17),
 ('principal', 17),
 ('stylist', 17),
 ('Cardiac', 17),
 ('Road', 17),
 ('Beverage', 17),
 ('school', 17),
 ('Forensic', 17),
 ('Closing', 17),
 ('Clinic', 17),
 ('Educational', 17),
 ('crew', 17),
 ('College', 17),
 ('surgical', 17),
 ('Apprentice', 17),
 ('Servicing', 17),
 ('Hospital', 17),
 ('Tool', 17),
 ('Print', 17),
 ('ADMINISTRATOR', 17),
 ('DATA', 17),
 ('records', 17),
 ('Freight', 17),
 ('Time', 17),
 ('processing', 17),
 ('Supervisor,', 17),
 ('Gas', 17),
 ('CEO', 16),
 ('LPN', 16),
 ('Machinist', 16),
 ('Receptionist', 16),
 ('server', 16),
 ('Psychologist', 16),
 ('Art', 16),
 ('Forklift', 16),
 ('Researcher', 16),
 ('painter', 16),
 ('Receivable', 16),
 ('Veterinary', 16),
 ('Restaurant', 16),
 ('GIS', 16),
 ('Commander', 16),
 ('sergeant', 16),
 ('Major', 16),
 ('High', 16),
 ('Bakery', 16),
 ('MEDICAL', 16),
 ('License', 16),
 ('Deli', 16),
 ('dept', 16),
 ('person', 16),
 ('REP', 16),
 ('Campus', 16),
 ('payable', 16),
 ('Staffing', 16),
 ('data', 16),
 ('work', 16),
 ('Treatment', 16),
 ('BUSINESS', 16),
 ('Skilled', 16),
 ('Resolution', 16),
 ('Independent', 16),
 ('Region', 16),
 ('Transport', 16),
 ('Behavioral', 16),
 ('Maker', 16),
 ('Central', 16),
 ('Online', 16),
 ('Acct', 16),
 ('up', 16),
 ('US', 16),
 ('Plan', 16),
 ('operation', 16),
 ('Dev', 16),
 ('Cashier', 15),
 ('Pharmacist', 15),
 ('Carpenter', 15),
 ('Clerical', 15),
 ('Collector', 15),
 ('Massage', 15),
 ('pharmacy', 15),
 ('AGENT', 15),
 ('underwriter', 15),
 ('CT', 15),
 ('Entry', 15),
 ('Diesel', 15),
 ('Wealth', 15),
 ('Co', 15),
 ('Success', 15),
 ('Recreation', 15),
 ('Athletic', 15),
 ('scientist', 15),
 ('Rehabilitation', 15),
 ('Music', 15),
 ('Vp', 15),
 ('Installation', 15),
 ('Pipe', 15),
 ('Communication', 15),
 ('Supplier', 15),
 ('Builder', 15),
 ('Exec.', 15),
 ('EXECUTIVE', 15),
 ('Paint', 15),
 ('insurance', 15),
 ('Vendor', 15),
 ('scheduler', 15),
 ('relations', 15),
 ('Power', 15),
 ('compliance', 15),
 ('Waste', 15),
 ('sr.', 15),
 ('Graduate', 15),
 ('Manager/', 15),
 ('Aviation', 15),
 ('Sheriff', 14),
 ('carpenter', 14),
 ('Stylist', 14),
 ('bus', 14),
 ('Language', 14),
 ('social', 14),
 ('plumber', 14),
 ('delivery', 14),
 ('branch', 14),
 ('Clinician', 14),
 ('certified', 14),
 ('Membership', 14),
 ('Tester', 14),
 ('construction', 14),
 ('Dietary', 14),
 ('Fulfillment', 14),
 ('Signal', 14),
 ('Operational', 14),
 ('tax', 14),
 ('asst.', 14),
 ('Agency', 14),
 ('assurance', 14),
 ('personal', 14),
 ('Manage', 14),
 ('retail', 14),
 ('billing', 14),
 ('client', 14),
 ('inventory', 14),
 ('hand', 14),
 ('logistics', 14),
 ('Informatics', 14),
 ('Metal', 14),
 ('licensed', 14),
 ('Wellness', 14),
 ('Sterile', 14),
 ('Grounds', 14),
 ('3rd', 14),
 ('ADMIN', 14),
 ('County', 14),
 ('Adult', 14),
 ('V', 14),
 ('product', 14),
 ('Man', 14),
 ('SERVICES', 14),
 ('IS', 14),
 ('AND', 14),
 ('Dir.', 14),
 ('Contact', 14),
 ('research', 14),
 ('SAP', 14),
 ('Bartender', 13),
 ('Painter', 13),
 ('mail', 13),
 ('Sonographer', 13),
 ('material', 13),
 ('Detention', 13),
 ('CDL', 13),
 ('forman', 13),
 ('Contracting', 13),
 ('administrative', 13),
 ('labor', 13),
 ('Vocational', 13),
 ('Science', 13),
 ('Press', 13),
 ('Hair', 13),
 ('911', 13),
 ('deputy', 13),
 ('press', 13),
 ('Sanitation', 13),
 ('coder', 13),
 ('Judicial', 13),
 ('Teaching', 13),
 ('Golf', 13),
 ('controller', 13),
 ('Brand', 13),
 ('Hvac', 13),
 ('Ultrasound', 13),
 ('Closer', 13),
 ('Stock', 13),
 ('journeyman', 13),
 ('INSURANCE', 13),
 ('Licensing', 13),
 ('fitter', 13),
 ('Tire', 13),
 ('route', 13),
 ('Parole', 13),
 ('Mananger', 13),
 ('process', 13),
 ('Scheduling', 13),
 ('utility', 13),
 ('Station', 13),
 ('Mill', 13),
 ('Warranty', 13),
 ('front', 13),
 ('network', 13),
 ('A/R', 13),
 ('examiner', 13),
 ('operater', 13),
 ('ER', 13),
 ('receiving', 13),
 ('Marine', 13),
 ('Die', 13),
 ('Hr', 13),
 ('Capital', 13),
 ('Chair', 13),
 ('car', 13),
 ('News', 13),
 ('In', 13),
 ('Pediatric', 13),
 ('Highway', 13),
 ('Testing', 13),
 ('Tier', 13),
 ('CONSULTANT', 13),
 ('Disability', 13),
 ('Works', 13),
 ('coach', 13),
 ('Assoc', 13),
 ('Cordinator', 13),
 ('Transfer', 13),
 ('Reviewer', 13),
 ('Laborer', 12),
 ('Merchandiser', 12),
 ('ACCOUNTANT', 12),
 ('Loader', 12),
 ('Rural', 12),
 ('Judge', 12),
 ('FINANCE', 12),
 ('Minister', 12),
 ('PROJECT', 12),
 ('Funeral', 12),
 ('attorney', 12),
 ('Ramp', 12),
 ('ACCOUNTING', 12),
 ('games', 12),
 ('MRI', 12),
 ('dental', 12),
 ('ACCOUNT', 12),
 ('meat', 12),
 ('finance', 12),
 ('Patent', 12),
 ('Adjunct', 12),
 ('Fitness', 12),
 ('Army', 12),
 ('Corporal', 12),
 ('Sole', 12),
 ('Protective', 12),
 ('administration', 12),
 ('Owner/', 12),
 ('unit', 12),
 ('Yard', 12),
 ('Survey', 12),
 ('educator', 12),
 ('charge', 12),
 ('Package', 12),
 ('I.T.', 12),
 ('technology', 12),
 ('ASST', 12),
 ('Rental', 12),
 ('Counter', 12),
 ('Overnight', 12),
 ('Dining', 12),
 ('captain', 12),
 ('Managment', 12),
 ('Assessment', 12),
 ...]

In [107]:
sorted_title.index

In [23]:
title_data = pd.DataFrame(data['emp_title'])
title_data.head()

              emp_title
0       Fiscal Director
1    Loaner Coordinator
2  warehouse/supervisor
3               Teacher
4           SERVICE MGR

In [142]:
type(title_data)

pandas.core.frame.DataFrame

In [21]:
senior = ['Manager', 'Director', 'Senior', 'manager', 'Supervisor', 'Lead', 'Sr.', 'Officer', 'Sr',
         'supervisor', 'Administrator','Management', 'Executive', 'VP', 'Vice', 'President', 'Chief',
         'director', 'Admin', 'Administrative', 'Director,' 'MANAGER', 'lead', 'officer','Leader',
         'Manager,', 'Mgr', 'Head', 'associate', 'Associate', 'leader', 'Partner', 'Manger', 
         'SR']
middle = ['Coordinator', 'Operations', 'Consultant', 'operator', 'Operator', 'consultant', 
         'Representative', 'coordinator', 'Advisor',  'Counselor', 'Instructor', 'District', 'Architect', 
          'Planner', 'Technologist', 'Master', 'Therapist', 'therapist', 'Professor', 'Investigator', 
         'Coach']
junior = ['Specialist', 'Analyst', 'Assistant', 'Sales', 'Engineer', 'Technician', 'Support', 'specialist', 
          'Account', 'service', 'technician', 'Clerk', 'Nurse','assistant', 'Maintenance', 'driver', 'Driver', 
          'clerk', 'Client', 'Staff', 'Worker', 'HR', 'Teacher', 'Designer', 'nurse', 'worker', 'Accountant', 
          'Inspector', 'agent', 'teacher', 'Member', 'Trainer', 'Secretary', 'Auditor', 'Sergeant', 'Processor', 
          'customer', 'SPECIALIST', 'Banker', 'Student', 'ASSISTANT']

#replacing all titles with 3, 2, 1, 0
def replace_titles(title):
    x = str(title['emp_title'])
    x = x.split()
    if any(i in senior for i in x):
        return 3
    elif any(i in middle for i in x):
        return 2
    elif any(i in junior for i in x):
        return 1
    else:
        return 0

In [24]:
title_data = title_data.apply(replace_titles, axis = 1)
title_data.head()

0    3
1    2
2    0
3    1
4    0
dtype: int64

In [25]:
data['emp_title'] = title_data

### Categories

In [20]:
data['grade'].unique()

array(['C', 'B', 'D', 'E', 'A', 'F', 'G'], dtype=object)

In [21]:
data['grade'] = data['grade'].map({
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5,
    'F': 6,
    'G': 7})

In [22]:
data['sub_grade'].unique()

array(['C3', 'B1', 'D5', 'B5', 'C2', 'C4', 'D4', 'E4', 'B4', 'C1', 'B2',
       'A1', 'D3', 'C5', 'A3', 'A5', 'B3', 'E1', 'A4', 'F2', 'D1', 'D2',
       'A2', 'G3', 'F4', 'G1', 'E2', 'E5', 'F1', 'E3', 'F5', 'G4', 'F3',
       'G2', 'G5'], dtype=object)

In [23]:
data['sub_grade'] = data['sub_grade'].map({
    'A1': 10,
    'A2': 12,
    'A3': 14,
    'A4': 16,
    'A5': 18,
    'B1': 20,
    'B2': 22,
    'B3': 24,
    'B4': 26,
    'B5': 28,
    'C1': 30,
    'C2': 32,
    'C3': 34,
    'C4': 36,
    'C5': 38,
    'D1': 40,
    'D2': 42,
    'D3': 44,
    'D4': 46,
    'D5': 48,
    'E1': 50,
    'E2': 52,
    'E3': 54,
    'E4': 56,
    'E5': 58,
    'F1': 60,
    'F2': 62,
    'F3': 64,
    'F4': 66,
    'F5': 68,
    'G1': 70,
    'G2': 72,
    'G3': 74,
    'G4': 76,
    'G5': 78,
    })

In [27]:
data['home_ownership'].unique()

array(['RENT', 'MORTGAGE', 'OWN', 'ANY'], dtype=object)

In [28]:
#home = data['home_ownership']
features = pd.get_dummies(home)
#data = data.drop(['home_ownership'], 1)

NameError: name 'home' is not defined

In [177]:
features.head()

   ANY  MORTGAGE  OWN  RENT
0    0         0    0     1
1    0         0    0     1
2    0         1    0     0
3    0         0    1     0
4    0         0    0     1

In [176]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95210 entries, 0 to 95209
Data columns (total 4 columns):
ANY         95210 non-null uint8
MORTGAGE    95210 non-null uint8
OWN         95210 non-null uint8
RENT        95210 non-null uint8
dtypes: uint8(4)
memory usage: 372.0 KB

In [29]:
data['verification_status'].unique()

array(['Not Verified', 'Source Verified', 'Verified'], dtype=object)

In [30]:
add = pd.get_dummies(data['verification_status'])
features = pd.concat([features, add])
data = data.drop(['verification_status'], 1)

NameError: name 'features' is not defined

In [29]:
data['pymnt_plan'].unique()

array(['n', 'y'], dtype=object)

In [30]:
data['pymnt_plan'] = data['pymnt_plan'].map({'n': 0, 'y': 1})

In [31]:
data['purpose'].unique()

array(['debt_consolidation', 'moving', 'credit_card', 'medical', 'house',
       'major_purchase', 'home_improvement', 'other', 'car',
       'small_business', 'vacation', 'renewable_energy', 'wedding'], dtype=object)

In [32]:
add2 = pd.get_dummies(data['purpose'])
features = pd.concat([features, add2])
data = data.drop(['purpose'], 1)

In [33]:
data['addr_state'].unique()

array(['TN', 'OR', 'CA', 'TX', 'VA', 'IL', 'FL', 'OH', 'IN', 'WA', 'NJ',
       'NC', 'LA', 'NY', 'SC', 'CT', 'GA', 'MI', 'NH', 'OK', 'ME', 'RI',
       'AL', 'PA', 'MA', 'NV', 'CO', 'AZ', 'DC', 'AR', 'WI', 'MT', 'ID',
       'NE', 'HI', 'MD', 'MN', 'KS', 'MO', 'NM', 'VT', 'KY', 'UT', 'SD',
       'ND', 'MS', 'AK', 'WY', 'DE', 'WV'], dtype=object)

In [34]:
add3 = pd.get_dummies(data['addr_state'])
features = pd.concat([features, add3])
data = data.drop(['addr_state'], 1)

In [35]:
data['initial_list_status'].unique()

array(['f', 'w'], dtype=object)

In [36]:
data['initial_list_status'] = data['initial_list_status'].map({'f': 0, 'w': 1})

In [37]:
data['title'].unique()

array(['Debt consolidation', 'Moving and relocation',
       'Credit card refinancing', 'Medical expenses', 'Home buying',
       'Major purchase', 'Home improvement', 'Other', 'Car financing',
       'Business', 'Vacation', nan, 'Green loan'], dtype=object)

In [38]:
add4 = pd.get_dummies(data['title'])
features = pd.concat([features, add4])
data = data.drop(['title'], 1)

In [39]:
data['application_type'].unique()

array(['INDIVIDUAL', 'JOINT', 'DIRECT_PAY'], dtype=object)

In [40]:
add5 = pd.get_dummies(data['application_type'])
features = pd.concat([features, add5])
data = data.drop(['application_type'], 1)

In [41]:
data['verification_status_joint'].unique()

array([nan, 'Not Verified'], dtype=object)

In [42]:
data['verification_status_joint'] = data['verification_status_joint'].map({'nan': 0, 'Not Verified': 1})

### Datatime

In [44]:
type(data['issue_d'])

pandas.core.series.Series

In [47]:
#issue = pd.DataFrame(data['issue_d'])
issue = pd.to_datetime(data['issue_d'])

In [49]:
type(issue)
issue.head()

0   2017-09-16
1   2017-09-16
2   2017-09-16
3   2017-09-16
4   2017-09-16
Name: issue_d, dtype: datetime64[ns]

In [52]:
delta = issue - issue.min()
delta.head()

0   62 days
1   62 days
2   62 days
3   62 days
4   62 days
Name: issue_d, dtype: timedelta64[ns]

In [57]:
delta.dt.days.unique()

array([62, 31,  0])

In [58]:
data['issue_d'] = delta.dt.days

In [59]:
data['last_pymnt_d'].unique()

array(['6/17/2017', '1/17/2017', '4/17/2017', '3/17/2017', '11/16/2017',
       '5/17/2017', '10/16/2017', '2/17/2017', '12/16/2017', '9/16/2017',
       '8/16/2017', '7/16/2017'], dtype=object)

In [60]:
def date2delta(datetime):
    date = pd.to_datetime(datetime)
    delta = date - date.min()
    return delta.dt.days

In [61]:
lastp = date2delta(data['last_pymnt_d'])
lastp.unique()

array([151,   0,  90,  59, 303, 120, 272,  31, 333, 242, 211, 180])

In [62]:
data['last_pymnt_d'] = date2delta(data['last_pymnt_d'])

In [63]:
data['last_credit_pull_d'].unique()

array(['6/17/2017', '1/17/2017', '5/17/2017', '4/17/2017', '2/17/2017',
       '10/16/2017', '11/16/2017', '9/16/2017', '3/17/2017', '12/16/2017',
       nan, '8/16/2017', '7/16/2017', '6/16/2017'], dtype=object)

In [64]:
data['last_credit_pull_d'] = date2delta(data['last_credit_pull_d'])

In [65]:
data['last_credit_pull_d'].unique()

array([ 151.,    0.,  120.,   90.,   31.,  272.,  303.,  242.,   59.,
        333.,   nan,  211.,  180.,  150.])

In [66]:
data['earliest_cr_line'].unique()[1:10]

array(['9/9/2017', '11/1/1992', '7/1/1987', '7/1/1996', '8/4/2017',
       '2/4/2017', '6/1/2017', '6/1/1993', '8/1/1986'], dtype=object)

In [68]:
data['earliest_cr_line'] = date2delta(data['earliest_cr_line'])
data['earliest_cr_line'].unique()[1:10]

array([27798, 18720, 16770, 20058, 27762, 27581, 27698, 18932, 16436])

In [70]:
data['next_pymnt_d'].unique()

array(['7/17/2017', nan, '6/17/2017', '8/17/2017'], dtype=object)

In [71]:
data['next_pymnt_d'] = date2delta(data['next_pymnt_d'])
data['next_pymnt_d'].unique()

array([ 30.,  nan,   0.,  61.])

### Combine all features

In [167]:
data.info

<bound method DataFrame.info of        loan_amnt  funded_amnt  funded_amnt_inv  term  int_rate  installment  \
0          15000        15000            15000     0      0.14       512.60
1           2600         2600             2600     0      0.09        82.67
2          32200        32200            32200     1      0.21       880.02
3          10000        10000            10000     0      0.11       329.72
4           6000         6000             6000     0      0.13       203.59
5          30000        30000            30000     1      0.14       697.90
6           3250         3250             3250     0      0.13       110.28
7           3000         3000             3000     0      0.14       103.25
8          35000        35000            35000     0      0.20      1300.55
9          20000        20000            20000     0      0.14       688.33
10         20150        20150            20150     1      0.25       591.32
11         12000        12000            12000     1      0.25       352.15
12          9000         9000             9000     0      0.11       294.61
13         17000        17000            17000     0      0.14       585.08
14          5000         5000             5000     0      0.09       158.98
15         12000        12000            12000     1      0.13       271.75
16         15000        15000            15000     0      0.14       512.60
17          3000         3000             3000     0      0.14       102.52
18         10000        10000            10000     0      0.09       320.29
19          7000         7000             7000     0      0.13       235.16
20         15000        15000            15000     0      0.05       451.73
21         12000        12000            12000     1      0.19       311.23
22          5000         5000             5000     0      0.14       170.87
23         30000        30000            30000     1      0.25       880.37
24          3000         3000             3000     0      0.11        98.92
25         24000        24000            24000     1      0.16       578.42
26         12000        12000            12000     0      0.16       419.46
27          4500         4500             4500     0      0.13       151.17
28         18000        18000            18000     1      0.09       373.57
29         12000        12000            12000     0      0.05       361.38
...          ...          ...              ...   ...       ...          ...
95180      25000        25000            25000     1      0.11       543.44
95181       5000         5000             5000     0      0.11       163.67
95182      13000        13000            13000     0      0.10       422.48
95183       7200         7200             7200     0      0.11       235.69
95184      20000        20000            20000     1      0.09       415.08
95185      15500        15500            15500     1      0.09       318.68
95186      25000        25000            25000     0      0.17       891.20
95187       2425         2425             2425     0      0.26        97.31
95188      11000        11000            11000     1      0.13       249.11
95189      28000        28000            28000     1      0.11       608.65
95190      25000        25000            25000     1      0.11       543.44
95191      30000        30000            30000     1      0.10       644.67
95192      20000        20000            20000     1      0.11       439.76
95193      30000        30000            30000     1      0.11       652.13
95194      24000        24000            24000     1      0.09       498.09
95195      24000        24000            24000     1      0.11       527.71
95196       7000         7000             7000     0      0.14       239.21
95197      21000        21000            21000     1      0.09       431.76
95198      25000        25000            25000     1      0.10       537.23
95199      12000        12000            12000     0      0.13       407.17
95200      18000        18000            18000     1      0.10       386.81
95201      20000        20000            20000     0      0.13       678.61
95202      28600        28600            28600     1      0.22       796.26
95203       6000         6000             6000     0      0.09       189.66
95204      18000        18000            18000     1      0.14       418.74
95205       5000         5000             5000     0      0.07       155.28
95206       2100         2100             2100     0      0.11        68.51
95207      32000        32000            32000     1      0.10       687.65
95208       1600         1600             1600     0      0.14        55.07
95209      34000        34000            34000     1      0.08       687.61

       grade  sub_grade  emp_title  emp_length             ...              \
0          3         34          3         2.0             ...
1          2         20          2         3.0             ...
2          4         48          0        10.0             ...
3          2         28          1        10.0             ...
4          3         32          0         5.0             ...
5          3         34          3        10.0             ...
6          3         32          1         2.0             ...
7          3         36          0         NaN             ...
8          4         46          0        10.0             ...
9          3         36          0        10.0             ...
10         5         56          0         4.0             ...
11         5         56          3        10.0             ...
12         2         26          3         7.0             ...
13         3         36          3         5.0             ...
14         2         20          0         8.0             ...
15         3         30          3         3.0             ...
16         3         34          1         3.0             ...
17         3         34          1        10.0             ...
18         2         22          2        10.0             ...
19         3         30          2         7.0             ...
20         1         10          1         8.0             ...
21         4         44          0         8.0             ...
22         3         34          3         9.0             ...
23         5         56          3        10.0             ...
24         2         28          1        10.0             ...
25         3         38          0        10.0             ...
26         3         38          1        10.0             ...
27         3         30          0         NaN             ...
28         2         20          0         3.0             ...
29         1         10          0         NaN             ...
...      ...        ...        ...         ...             ...
95180      2         26          3         3.0             ...
95181      2         26          3        10.0             ...
95182      2         24          1        10.0             ...
95183      2         26          1        10.0             ...
95184      2         20          3         7.0             ...
95185      1         18          1         4.0             ...
95186      4         40          3        10.0             ...
95187      6         60          1         2.0             ...
95188      3         30          3        10.0             ...
95189      2         26          3         4.0             ...
95190      2         26          3         8.0             ...
95191      2         24          3         1.0             ...
95192      2         28          0        10.0             ...
95193      2         26          2         4.0             ...
95194      2         20          1         3.0             ...
95195      2         28          3        10.0             ...
95196      3         34          0         3.0             ...
95197      1         18          3         5.0             ...
95198      2         24          0         1.0             ...
95199      3         32          0        10.0             ...
95200      2         24          3         4.0             ...
95201      3         32          0         NaN             ...
95202      5         50          3         4.0             ...
95203      1         18          0         3.0             ...
95204      3         34          3         2.0             ...
95205      1         16          3        10.0             ...
95206      2         26          0         NaN             ...
95207      2         24          3         4.0             ...
95208      3         36          0        10.0             ...
95209      1         18          1         6.0             ...

       num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  \
0                       0                   5           100.0
1                       0                   0           100.0
2                       0                   2           100.0
3                       0                   6           100.0
4                       0                   1           100.0
5                       0                   2           100.0
6                       0                   1            90.0
7                       0                   2           100.0
8                       0                   0           100.0
9                       0                   3            78.9
10                      0                   0            82.6
11                      0                   2           100.0
12                      0                   1            54.5
13                      2                   3            82.4
14                      0                   1            82.4
15                      0                   4           100.0
16                      0                   2           100.0
17                      0                   3           100.0
18                      0                   4            75.0
19                      0                   4           100.0
20                      0                   4            86.2
21                      2                   9            78.4
22                      0                   3            73.1
23                      0                   0           100.0
24                      0                   2            92.0
25                      0                   2           100.0
26                      0                   1           100.0
27                      0                   5            89.5
28                      0                   0           100.0
29                      0                   0           100.0
...                   ...                 ...             ...
95180                   0                   3            88.9
95181                   0                   1           100.0
95182                   0                   1            80.0
95183                   0                   1            65.0
95184                   4                   0            66.7
95185                   0                   2            94.1
95186                   0                   2           100.0
95187                   1                   7            74.3
95188                   0                   1            94.4
95189                   0                   0           100.0
95190                   0                   2           100.0
95191                   0                   0            73.3
95192                   0                   1           100.0
95193                   0                   4            96.8
95194                   0                   5            91.3
95195                   0                   1           100.0
95196                   0                   2            90.9
95197                   0                   5            98.5
95198                   0                   2            81.8
95199                   0                   1            91.3
95200                   0                   1           100.0
95201                   0                   4            85.7
95202                   0                   2            94.4
95203                   0                   1           100.0
95204                   0                   2            90.0
95205                   0                   0            94.4
95206                   0                   1            80.0
95207                   0                   4            91.7
95208                   0                   1           100.0
95209                   0                   7           100.0

       percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  \
0                  33.3                     0          0           147587
1                   0.0                     0          0            73227
2                  40.0                     1          0           199969
3                  66.7                     0          0            68831
4                 100.0                     0          0            17500
5                  33.3                     0          0           166422
6                   0.0                     0          0             4700
7                 100.0                     0          0             9900
8                 100.0                     0          0            49046
9                  33.3                     0          0           153809
10                 90.0                     0          0            35146
11                100.0                     0          0           194415
12                 50.0                     0          0            17620
13                 40.0                     0          0            32410
14                  0.0                     0          0            50953
15                  0.0                     0          0           152823
16                 25.0                     0          0           151344
17                100.0                     1          0           112925
18                 12.5                     0          0           320817
19                 50.0                     1          0            54284
20                  6.7                     0          0           114322
21                 20.0                     0          0           290671
22                  0.0                     0          0           363550
23                100.0                     0          0            50600
24                 20.0                     0          0            36269
25                  0.0                     0          0           308780
26                100.0                     1          0            38851
27                  0.0                     1          0           172519
28                 20.0                     0          0           174900
29                  0.0                     0          0           486000
...                 ...                   ...        ...              ...
95180               0.0                     0          0           196891
95181             100.0                     0          1            95146
95182              50.0                     0          0           208585
95183             100.0                     0          0           429825
95184              66.7                     0          0           258030
95185               0.0                     0          0           269334
95186               0.0                     0          0           229229
95187             100.0                     0          0           166093
95188              60.0                     0          0            36281
95189              16.7                     0          0            86200
95190               0.0                     1          0           286050
95191               0.0                     0          0           113329
95192             100.0                     1          0           119998
95193               0.0                     0          0            89038
95194              55.6                     0          0           285244
95195              28.6                     1          0           280679
95196              33.3                     0          0            24616
95197               0.0                     0          0           549363
95198              50.0                     0          0           419958
95199              50.0                     0          0            82838
95200              71.4                     0          0           550125
95201               0.0                     0          0           395565
95202              40.0                     0          0           499574
95203               0.0                     0          0            41274
95204             100.0                     1          0            17100
95205               0.0                     0          0            40357
95206              50.0                     0          0            13451
95207               0.0                     0          0           359000
95208              33.3                     1          0            15947
95209               0.0                     0          0           603045

       total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit
0                 140492           30200                      108587
1                  19497           50200                       20527
2                  24934           13900                       15886
3                  38085           13500                       36431
4                  15393            4800                       12700
5                  46662           22300                       41751
6                   2574            2600                           0
7                   8976            3600                        6300
8                  30981           21800                       22046
9                  42894            8200                       53309
10                 26270           15000                        3646
11                 29917            3800                       29993
12                 14671            7000                       10620
13                 24644           12100                       18310
14                 27102           12500                       35453
15                108236           36000                      100523
16                133970           24800                      126544
17                 22032            2700                       27025
18                 61171           40500                       60817
19                 18886           10300                       25584
20                 57840           56200                       58122
21                 43438           11000                       35386
22                 21533            2000                       15625
23                 48251           48000                           0
24                 10211           10900                        7469
25                 50155           33200                       64160
26                 29760            4700                       24151
27                 42279           25500                       44819
28                 23138           46300                           0
29                 37584          153700                       39000
...                  ...             ...                         ...
95180             152247           40000                      156891
95181              14991            4800                       20004
95182              34171           21000                       29735
95183              45776            9600                       44125
95184             238539           23800                      233530
95185              89618            8700                      102842
95186              19238            5300                        9637
95187               4484            1300                        3500
95188              25526           11400                       18181

In [170]:
dataset = pd.concat([data, features])
dataset = pd.concat([target, dataset])
dataset.info

<bound method DataFrame.info of          0  AK  AL  ANY  AR  AZ  Business  CA  CO  CT    ...     total_pymnt  \
0      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
1      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
2      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
3      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
4      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
5      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
6      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
7      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
8      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
9      0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
10     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
11     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
12     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
13     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
14     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
15     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
16     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
17     1.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
18     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
19     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
20     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
21     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
22     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
23     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
24     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
25     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
26     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
27     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
28     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
29     0.0 NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
...    ...  ..  ..  ...  ..  ..       ...  ..  ..  ..    ...             ...
95180  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95181  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95182  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95183  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95184  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95185  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95186  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95187  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95188  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95189  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95190  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95191  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95192  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95193  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95194  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95195  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95196  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95197  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95198  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95199  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95200  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95201  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95202  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95203  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95204  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95205  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95206  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95207  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95208  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN
95209  NaN NaN NaN  NaN NaN NaN       NaN NaN NaN NaN    ...             NaN

       total_pymnt_inv  total_rec_int  total_rec_late_fee  total_rec_prncp  \
0                  NaN            NaN                 NaN              NaN
1                  NaN            NaN                 NaN              NaN
2                  NaN            NaN                 NaN              NaN
3                  NaN            NaN                 NaN              NaN
4                  NaN            NaN                 NaN              NaN
5                  NaN            NaN                 NaN              NaN
6                  NaN            NaN                 NaN              NaN
7                  NaN            NaN                 NaN              NaN
8                  NaN            NaN                 NaN              NaN
9                  NaN            NaN                 NaN              NaN
10                 NaN            NaN                 NaN              NaN
11                 NaN            NaN                 NaN              NaN
12                 NaN            NaN                 NaN              NaN
13                 NaN            NaN                 NaN              NaN
14                 NaN            NaN                 NaN              NaN
15                 NaN            NaN                 NaN              NaN
16                 NaN            NaN                 NaN              NaN
17                 NaN            NaN                 NaN              NaN
18                 NaN            NaN                 NaN              NaN
19                 NaN            NaN                 NaN              NaN
20                 NaN            NaN                 NaN              NaN
21                 NaN            NaN                 NaN              NaN
22                 NaN            NaN                 NaN              NaN
23                 NaN            NaN                 NaN              NaN
24                 NaN            NaN                 NaN              NaN
25                 NaN            NaN                 NaN              NaN
26                 NaN            NaN                 NaN              NaN
27                 NaN            NaN                 NaN              NaN
28                 NaN            NaN                 NaN              NaN
29                 NaN            NaN                 NaN              NaN
...                ...            ...                 ...              ...
95180              NaN            NaN                 NaN              NaN
95181              NaN            NaN                 NaN              NaN
95182              NaN            NaN                 NaN              NaN
95183              NaN            NaN                 NaN              NaN
95184              NaN            NaN                 NaN              NaN
95185              NaN            NaN                 NaN              NaN
95186              NaN            NaN                 NaN              NaN
95187              NaN            NaN                 NaN              NaN
95188              NaN            NaN                 NaN              NaN
95189              NaN            NaN                 NaN              NaN
95190              NaN            NaN                 NaN              NaN
95191              NaN            NaN                 NaN              NaN
95192              NaN            NaN                 NaN              NaN
95193              NaN            NaN                 NaN              NaN
95194              NaN            NaN                 NaN              NaN
95195              NaN            NaN                 NaN              NaN
95196              NaN            NaN                 NaN              NaN
95197              NaN            NaN                 NaN              NaN
95198              NaN            NaN                 NaN              NaN
95199              NaN            NaN                 NaN              NaN
95200              NaN            NaN                 NaN              NaN
95201              NaN            NaN                 NaN              NaN
95202              NaN            NaN                 NaN              NaN
95203              NaN            NaN                 NaN              NaN
95204              NaN            NaN                 NaN              NaN
95205              NaN            NaN                 NaN              NaN
95206              NaN            NaN                 NaN              NaN
95207              NaN            NaN                 NaN              NaN
95208              NaN            NaN                 NaN              NaN
95209              NaN            NaN                 NaN              NaN

       total_rev_hi_lim  vacation  verification_status_joint  wedding  \
0                   NaN       NaN                        NaN      NaN
1                   NaN       NaN                        NaN      NaN
2                   NaN       NaN                        NaN      NaN
3                   NaN       NaN                        NaN      NaN
4                   NaN       NaN                        NaN      NaN
5                   NaN       NaN                        NaN      NaN
6                   NaN       NaN                        NaN      NaN
7                   NaN       NaN                        NaN      NaN
8                   NaN       NaN                        NaN      NaN
9                   NaN       NaN                        NaN      NaN
10                  NaN       NaN                        NaN      NaN
11                  NaN       NaN                        NaN      NaN
12                  NaN       NaN                        NaN      NaN
13                  NaN       NaN                        NaN      NaN
14                  NaN       NaN                        NaN      NaN
15                  NaN       NaN                        NaN      NaN
16                  NaN       NaN                        NaN      NaN
17                  NaN       NaN                        NaN      NaN
18                  NaN       NaN                        NaN      NaN
19                  NaN       NaN                        NaN      NaN
20                  NaN       NaN                        NaN      NaN
21                  NaN       NaN                        NaN      NaN
22                  NaN       NaN                        NaN      NaN
23                  NaN       NaN                        NaN      NaN
24                  NaN       NaN                        NaN      NaN
25                  NaN       NaN                        NaN      NaN
26                  NaN       NaN                        NaN      NaN
27                  NaN       NaN                        NaN      NaN
28                  NaN       NaN                        NaN      NaN
29                  NaN       NaN                        NaN      NaN
...                 ...       ...                        ...      ...
95180               NaN       NaN                        NaN      NaN
95181               NaN       NaN                        NaN      NaN
95182               NaN       NaN                        NaN      NaN
95183               NaN       NaN                        NaN      NaN
95184               NaN       NaN                        NaN      NaN
95185               NaN       NaN                        NaN      NaN
95186               NaN       NaN                        NaN      NaN
95187               NaN       NaN                        NaN      NaN
95188               NaN       NaN                        NaN      NaN
95189               NaN       NaN                        NaN      NaN
95190               NaN       NaN                        NaN      NaN
95191               NaN       NaN                        NaN      NaN
95192               NaN       NaN                        NaN      NaN
95193               NaN       NaN                        NaN      NaN
95194               NaN       NaN                        NaN      NaN
95195               NaN       NaN                        NaN      NaN
95196               NaN       NaN                        NaN      NaN
95197               NaN       NaN                        NaN      NaN
95198               NaN       NaN                        NaN      NaN
95199               NaN       NaN                        NaN      NaN
95200               NaN       NaN                        NaN      NaN
95201               NaN       NaN                        NaN      NaN
95202               NaN       NaN                        NaN      NaN
95203               NaN       NaN                        NaN      NaN
95204               NaN       NaN                        NaN      NaN
95205               NaN       NaN                        NaN      NaN
95206               NaN       NaN                        NaN      NaN
95207               NaN       NaN                        NaN      NaN
95208               NaN       NaN                        NaN      NaN
95209               NaN       NaN                        NaN      NaN

       zip_code
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
...         ...
95180       NaN
95181       NaN
95182       NaN
95183       NaN
95184       NaN
95185       NaN
95186       NaN
95187       NaN
95188       NaN
95189       NaN
95190       NaN
95191       NaN
95192       NaN
95193       NaN
95194       NaN
95195       NaN
95196       NaN
95197       NaN
95198       NaN
95199       NaN
95200       NaN
95201       NaN
95202       NaN
95203       NaN
95204       NaN
95205       NaN
95206       NaN
95207       NaN
95208       NaN
95209       NaN

[761680 rows x 186 columns]>