# ICBC Project Warm-Up: Feature Engineering

### Ewen Nov 20, 2017

## Introduction

Feature engineering is the process of using domain knowledge of the data to create features that make 
machine learning algorithms work. Feature engineering is fundamental to the application of machine learning, 
and is both difficult and expensive. The need for manual feature engineering can be obviated by automated 
feature learning.

Feature engineering is an informal topic, but it is considered essential in applied machine learning.

## Warm-Up Task

The aim of this warm-up to help IBMers in ICBC project to get a big picture of feature engineering and do some hands-on practices. The data can only be used in this project for exerice, please don't share any material including this warm-up practice to poeple outside IBM. Cheers!

**Task:**

- 1. Summary the data types in the dataset. You may need some EDA to explore it. Please refer to the EDA task.
- 2. Try to find possible ways to transform raw data into the one that machine learning algorithms can handle with.
- 3. Generate reasonable features with your expert knowledge. Illustrate why you do so.

**Requirement: Please provide rational FE w/ descriptions. Do everything w/ a reason and necessary explaination!**

A FE start has been given as following, feel free to use it.

**Note1:** I didn't include much EDA in this start-up for time saving but it's a must part of feature engineering. You have to know what data you have, how it is distributed, and then you may do some feature engineering on it. 

**Note2:** I did two data transformation in Excel before this FE: (1) moved out `%` sign; (2) converted date to `short date` type (check out functions in Excel). Make sure you have done these steps before you generate the same results as following.

## Data Preparation

In [111]:
import os
import numpy as  np
import pandas as pd

wd = '/Users/ewenwang/OneDrive/IBM/Project_ICBC/code_wu'
os.chdir(wd)
datafile = 'lc_2016Q3_clean.csv'
data = pd.read_csv(datafile, header=0, encoding='latin-1', low_memory=False)

In [112]:
data.head(4)

,loan_amnt,term,int_rate,installment,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,15000,36 months,13.99,512.60,Fiscal Director,2,RENT,55000.0,Not Verified,01/09/2016,...,0,5,100.0,33.3,0,0,147587,140492,30200,108587
1,2600,36 months,8.99,82.67,Loaner Coordinator,3,RENT,35000.0,Source Verified,01/09/2016,...,0,0,100.0,0.0,0,0,73227,19497,50200,20527
2,32200,60 months,21.49,880.02,warehouse/supervisor,10,MORTGAGE,65000.0,Not Verified,01/09/2016,...,0,2,100.0,40.0,1,0,199969,24934,13900,15886
3,10000,36 months,11.49,329.72,Teacher,10,OWN,55900.0,Not Verified,01/09/2016,...,0,6,100.0,66.7,0,0,68831,38085,13500,36431

In [113]:
target = data['loan_status']
data = data.drop(['loan_status'], 1)

Take a look at all `object` data. This start-up will focus on these features.

In [114]:
data.select_dtypes(include=['object']).iloc[:,0:20].head(4)

,term,emp_title,home_ownership,verification_status,issue_d,pymnt_plan,desc,purpose,title,zip_code,addr_state,earliest_cr_line,initial_list_status,application_type,verification_status_joint
0,36 months,Fiscal Director,RENT,Not Verified,01/09/2016,n,NaN,debt_consolidation,Debt consolidation,372xx,TN,01/01/1996,f,INDIVIDUAL,NaN
1,36 months,Loaner Coordinator,RENT,Source Verified,01/09/2016,n,NaN,moving,Moving and relocation,970xx,OR,01/09/2009,w,INDIVIDUAL,NaN
2,60 months,warehouse/supervisor,MORTGAGE,Not Verified,01/09/2016,n,NaN,credit_card,Credit card refinancing,923xx,CA,01/11/1992,w,INDIVIDUAL,NaN
3,36 months,Teacher,OWN,Not Verified,01/09/2016,n,NaN,debt_consolidation,Debt consolidation,780xx,TX,01/07/1987,w,INDIVIDUAL,NaN

In [115]:
data_nonobj = data.select_dtypes(exclude=['object'])
data_obj = data.select_dtypes(include=['object'])

In [116]:
data_obj.head()

,term,emp_title,home_ownership,verification_status,issue_d,pymnt_plan,desc,purpose,title,zip_code,addr_state,earliest_cr_line,initial_list_status,application_type,verification_status_joint
0,36 months,Fiscal Director,RENT,Not Verified,01/09/2016,n,NaN,debt_consolidation,Debt consolidation,372xx,TN,01/01/1996,f,INDIVIDUAL,NaN
1,36 months,Loaner Coordinator,RENT,Source Verified,01/09/2016,n,NaN,moving,Moving and relocation,970xx,OR,01/09/2009,w,INDIVIDUAL,NaN
2,60 months,warehouse/supervisor,MORTGAGE,Not Verified,01/09/2016,n,NaN,credit_card,Credit card refinancing,923xx,CA,01/11/1992,w,INDIVIDUAL,NaN
3,36 months,Teacher,OWN,Not Verified,01/09/2016,n,NaN,debt_consolidation,Debt consolidation,780xx,TX,01/07/1987,w,INDIVIDUAL,NaN
4,36 months,SERVICE MGR,RENT,Not Verified,01/09/2016,n,NaN,debt_consolidation,Debt consolidation,232xx,VA,01/07/1996,f,INDIVIDUAL,NaN

In [117]:
data_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95210 entries, 0 to 95209
Data columns (total 15 columns):
term                         95210 non-null object
emp_title                    89516 non-null object
home_ownership               95210 non-null object
verification_status          95210 non-null object
issue_d                      95210 non-null object
pymnt_plan                   95210 non-null object
desc                         6 non-null object
purpose                      95210 non-null object
title                        90065 non-null object
zip_code                     95210 non-null object
addr_state                   95210 non-null object
earliest_cr_line             95210 non-null object
initial_list_status          95210 non-null object
application_type             95210 non-null object
verification_status_joint    501 non-null object
dtypes: object(15)
memory usage: 10.9+ MB

In [118]:
target.sum()

2699

In [82]:
#data_nonobj.info()

In [83]:
# data_num = data_nonobj[data_nonobj.columns[~data_nonobj.isnull().any()]]
# data_num_nan = data_nonobj[data_nonobj.columns[data_nonobj.isnull().any()]]

In [69]:
# features_name = data_num.columns.values
# P, D, Q = np.linalg.svd(data_num, full_matrices=False)
# data_num_a = np.dot(np.dot(P, np.diag(D)), Q)
# data_num_a = pd.DataFrame(data_num_a, columns=features_name)

In [84]:
# data_num_a.head()

In [85]:
# data_new = data_obj.join(data_num_nan).join(data_num_a).join(y)

In [86]:
# data_new.head()

### Strings

In [119]:
data['term'] = data['term'].map({' 36 months': 0, ' 60 months': 1})

In [120]:
#data['emp_length'].unique()

In [121]:
#data['emp_length'] = data['emp_length'].str.extract('(\d+)', expand=True).astype(float)

In [122]:
data['zip_code'] = data['zip_code'].str.strip('xx').astype(int)

In [123]:
senior = ['Manager', 'Director', 'Senior', 'manager', 'Supervisor', 'Lead', 'Sr.', 'Officer', 'Sr',
         'supervisor', 'Administrator','Management', 'Executive', 'VP', 'Vice', 'President', 'Chief',
         'director', 'Admin', 'Administrative', 'Director,' 'MANAGER', 'lead', 'officer','Leader',
         'Manager,', 'Mgr', 'Head', 'associate', 'Associate', 'leader', 'Partner', 'Manger', 
         'SR']
middle = ['Coordinator', 'Operations', 'Consultant', 'operator', 'Operator', 'consultant', 
         'Representative', 'coordinator', 'Advisor',  'Counselor', 'Instructor', 'District', 'Architect', 
          'Planner', 'Technologist', 'Master', 'Therapist', 'therapist', 'Professor', 'Investigator', 
         'Coach']
junior = ['Specialist', 'Analyst', 'Assistant', 'Sales', 'Engineer', 'Technician', 'Support', 'specialist', 
          'Account', 'service', 'technician', 'Clerk', 'Nurse','assistant', 'Maintenance', 'driver', 'Driver', 
          'clerk', 'Client', 'Staff', 'Worker', 'HR', 'Teacher', 'Designer', 'nurse', 'worker', 'Accountant', 
          'Inspector', 'agent', 'teacher', 'Member', 'Trainer', 'Secretary', 'Auditor', 'Sergeant', 'Processor', 
          'customer', 'SPECIALIST', 'Banker', 'Student', 'ASSISTANT']

#replacing all titles with 3, 2, 1, 0
def replace_titles(title):
    x = str(title['emp_title'])
    x = x.split()
    if any(i in senior for i in x):
        return 3
    elif any(i in middle for i in x):
        return 2
    elif any(i in junior for i in x):
        return 1
    else:
        return 0

In [124]:
data['emp_title'] = pd.DataFrame(data['emp_title']).apply(replace_titles, axis = 1)

### Categories

In [125]:
# data['grade'] = data['grade'].map({
#     'A': 1,
#     'B': 2,
#     'C': 3,
#     'D': 4,
#     'E': 5,
#     'F': 6,
#     'G': 7})

# data['sub_grade'] = data['sub_grade'].map({
#     'A1': 10,
#     'A2': 12,
#     'A3': 14,
#     'A4': 16,
#     'A5': 18,
#     'B1': 20,
#     'B2': 22,
#     'B3': 24,
#     'B4': 26,
#     'B5': 28,
#     'C1': 30,
#     'C2': 32,
#     'C3': 34,
#     'C4': 36,
#     'C5': 38,
#     'D1': 40,
#     'D2': 42,
#     'D3': 44,
#     'D4': 46,
#     'D5': 48,
#     'E1': 50,
#     'E2': 52,
#     'E3': 54,
#     'E4': 56,
#     'E5': 58,
#     'F1': 60,
#     'F2': 62,
#     'F3': 64,
#     'F4': 66,
#     'F5': 68,
#     'G1': 70,
#     'G2': 72,
#     'G3': 74,
#     'G4': 76,
#     'G5': 78,
#     })

data['pymnt_plan'] = data['pymnt_plan'].map({'n': 0, 'y': 1})
data['initial_list_status'] = data['initial_list_status'].map({'f': 0, 'w': 1})
data['verification_status_joint'] = data['verification_status_joint'].map({'nan': 0, 'Not Verified': 1})

In [126]:
cates = ['home_ownership', 'verification_status', 'purpose', 'addr_state', 'title', 'application_type']

features = pd.DataFrame()
for cate in cates:
    features = pd.get_dummies(data[cate])
    data = data.join(features)
    data = data.drop([cate], 1)

### Datetime

In [127]:
datetime = ['issue_d', 'earliest_cr_line'] #, 'last_pymnt_d', 'last_credit_pull_d',  'next_pymnt_d']

def date2delta(datetime):
    date = pd.to_datetime(datetime)
    delta = date - date.min()
    return delta.dt.days

data[datetime] = data[datetime].apply(date2delta, axis = 0)

In [128]:
data_nonobj = data.select_dtypes(exclude=['object'])
data_obj = data.select_dtypes(include=['object'])

data_obj.head()

  desc
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [133]:
data_new = data.select_dtypes(exclude=['object'])

In [134]:
data_new.select_dtypes(include=['object']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95210 entries, 0 to 95209
Empty DataFrame

In [136]:
data_new = data_new.join(target)

All non-numeric data have been transformed.

### Write to CSV

In [137]:
outfile = 'dataset_new.csv'
data_new.to_csv(outfile, index=False)